{
  "openapi": "3.1.0",
  "info": {
    "title": "ADH Backend",
    "version": "0.0.0",
    "description": "Generated from the Drizzle schema. CRUD routes are derived per table (/<schema>/<resource>); the non-CRUD surface (auth, oauth, chat, registry, customer, storage, search, messaging, notifications, and more) is hand-written in src/openapi/paths/* and kept in sync with the routes by a drift guard."
  },
  "tags": [
    {
      "name": "access"
    },
    {
      "name": "account"
    },
    {
      "name": "announcements"
    },
    {
      "name": "audience"
    },
    {
      "name": "auth"
    },
    {
      "name": "billing"
    },
    {
      "name": "blocks"
    },
    {
      "name": "bookmarks"
    },
    {
      "name": "bucket"
    },
    {
      "name": "chat"
    },
    {
      "name": "community"
    },
    {
      "name": "contacts"
    },
    {
      "name": "content"
    },
    {
      "name": "customer"
    },
    {
      "name": "discussion"
    },
    {
      "name": "document"
    },
    {
      "name": "ecosystem"
    },
    {
      "name": "follows"
    },
    {
      "name": "friends"
    },
    {
      "name": "game"
    },
    {
      "name": "gamification"
    },
    {
      "name": "integration"
    },
    {
      "name": "integrations"
    },
    {
      "name": "interactions"
    },
    {
      "name": "messaging"
    },
    {
      "name": "mfa"
    },
    {
      "name": "monitoring"
    },
    {
      "name": "notes"
    },
    {
      "name": "notifications"
    },
    {
      "name": "oauth"
    },
    {
      "name": "persona"
    },
    {
      "name": "persona_memory"
    },
    {
      "name": "personal"
    },
    {
      "name": "presence"
    },
    {
      "name": "processing"
    },
    {
      "name": "project"
    },
    {
      "name": "public"
    },
    {
      "name": "registries"
    },
    {
      "name": "registry"
    },
    {
      "name": "search"
    },
    {
      "name": "settings"
    },
    {
      "name": "shipr"
    },
    {
      "name": "storage"
    },
    {
      "name": "sync"
    },
    {
      "name": "system"
    },
    {
      "name": "team"
    },
    {
      "name": "themes"
    },
    {
      "name": "tokens"
    },
    {
      "name": "usage"
    }
  ],
  "servers": [
    {
      "url": "https://api.agenticdeveloperhub.com",
      "description": "production"
    },
    {
      "url": "https://testing.api.agenticdeveloperhub.com",
      "description": "testing"
    },
    {
      "url": "http://localhost:3000",
      "description": "local"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "required": [
          "id",
          "email",
          "name",
          "avatarUrl",
          "slug",
          "publicProfileEnabled",
          "profileVisibility",
          "capabilities"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "publicProfileEnabled": {
            "type": "boolean",
            "description": "Whether the public profile card is visible at /public/users/:slug"
          },
          "profileVisibility": {
            "type": "string",
            "enum": [
              "public",
              "hub",
              "private"
            ],
            "description": "The principal's page-level profile visibility. Supersedes publicProfileEnabled, which is retained during the expand phase and written in parallel."
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AuthResult": {
        "type": "object",
        "required": [
          "token",
          "refreshToken",
          "user"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "JWT access token (Bearer credential)"
          },
          "refreshToken": {
            "type": "string",
            "description": "Opaque refresh token (rotated on use)"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "RefreshResult": {
        "type": "object",
        "required": [
          "token",
          "refreshToken"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "JWT access token (Bearer credential)"
          },
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "MfaChallenge": {
        "type": "object",
        "required": [
          "mfaRequired",
          "token",
          "methods"
        ],
        "properties": {
          "mfaRequired": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "token": {
            "type": "string",
            "description": "Short-lived MFA pending token"
          },
          "methods": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "sms",
                "totp",
                "webauthn",
                "recovery"
              ]
            },
            "description": "Second factors the user can satisfy"
          }
        }
      },
      "ApiToken": {
        "type": "object",
        "required": [
          "id",
          "name",
          "prefix",
          "createdAt",
          "expiresAt",
          "lastUsedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "prefix": {
            "type": "string",
            "description": "Non-secret leading chars, for display"
          },
          "createdAt": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "nullable": true
          },
          "lastUsedAt": {
            "type": "string",
            "nullable": true
          },
          "scope": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "REST path prefixes this token may reach (e.g. [\"/content/markdown\"], optional \":read\" suffix, \"*\" = all). null = legacy curated-only."
          }
        }
      },
      "ApiTokenCreated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiToken"
          },
          {
            "type": "object",
            "required": [
              "token"
            ],
            "properties": {
              "token": {
                "type": "string",
                "description": "The raw token value — shown exactly once"
              }
            }
          }
        ]
      },
      "AiProcessingWebhookEndpoint": {
        "type": "object",
        "required": [
          "id",
          "ecosystemId",
          "customerId",
          "url",
          "eventTypes",
          "active",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "ecosystemId": {
            "type": "string",
            "description": "Ecosystem that owns this endpoint"
          },
          "customerId": {
            "type": "string",
            "description": "User who registered the endpoint"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "HTTPS-only delivery target URL"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Subscribed event types (e.g. job.succeeded, job.failed)"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the endpoint receives deliveries"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable label"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp"
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO 8601 timestamp of last modification"
          }
        }
      },
      "AiProcessingWebhookEndpointCreated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AiProcessingWebhookEndpoint"
          },
          {
            "type": "object",
            "required": [
              "secret"
            ],
            "properties": {
              "secret": {
                "type": "string",
                "description": "whsec_-prefixed Standard Webhooks signing secret — returned exactly once. Store it; it cannot be retrieved again."
              }
            }
          }
        ]
      },
      "AiProcessingWebhookDelivery": {
        "type": "object",
        "required": [
          "id",
          "ecosystemId",
          "endpointId",
          "eventId",
          "eventType",
          "payload",
          "status",
          "attempts",
          "maxAttempts",
          "nextAttemptAt",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "ecosystemId": {
            "type": "string"
          },
          "endpointId": {
            "type": "string",
            "format": "uuid"
          },
          "eventId": {
            "type": "string",
            "format": "uuid"
          },
          "eventType": {
            "type": "string"
          },
          "payload": {
            "type": "object",
            "additionalProperties": true
          },
          "status": {
            "type": "string",
            "description": "pending | delivered | failed | dead"
          },
          "attempts": {
            "type": "integer"
          },
          "maxAttempts": {
            "type": "integer"
          },
          "nextAttemptAt": {
            "type": "string"
          },
          "responseStatus": {
            "type": "integer",
            "nullable": true
          },
          "lastError": {
            "type": "string",
            "nullable": true
          },
          "deliveredAt": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "AiProcessingClaimedJob": {
        "type": "object",
        "required": [
          "id",
          "jobType",
          "targetKind",
          "targetId",
          "payload",
          "claimedAt",
          "leaseExpiresAt",
          "leaseToken"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "jobType": {
            "type": "string",
            "description": "Discriminator for worker routing (e.g. categorize_and_tag)"
          },
          "targetKind": {
            "type": "string",
            "description": "Namespace of the target entity (e.g. content.markdown)"
          },
          "targetId": {
            "type": "string",
            "description": "UUID of the target entity"
          },
          "payload": {
            "type": "object",
            "additionalProperties": true,
            "description": "Arbitrary job-specific input"
          },
          "claimedAt": {
            "type": "string",
            "description": "Drizzle-read timestamp of when the job was claimed"
          },
          "leaseExpiresAt": {
            "type": "string",
            "description": "Drizzle-read timestamp when the lease expires"
          },
          "leaseToken": {
            "type": "string",
            "description": "Opaque lease token required for heartbeat / complete / fail"
          }
        }
      },
      "AiProcessingJob": {
        "type": "object",
        "required": [
          "id",
          "jobType",
          "targetKind",
          "targetId",
          "status",
          "priority",
          "attempts",
          "maxAttempts",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "jobType": {
            "type": "string",
            "description": "Discriminator for worker routing (e.g. categorize_and_tag)"
          },
          "targetKind": {
            "type": "string",
            "description": "Namespace of the target entity (e.g. content.markdown)"
          },
          "targetId": {
            "type": "string",
            "description": "UUID of the target entity"
          },
          "status": {
            "type": "string",
            "description": "Current lifecycle status (queued | claimed | succeeded | dead)"
          },
          "priority": {
            "type": "integer",
            "description": "Higher value = claimed first; default 0"
          },
          "attempts": {
            "type": "integer",
            "description": "Number of claim attempts so far"
          },
          "maxAttempts": {
            "type": "integer",
            "description": "Maximum allowed claim attempts before dead-lettering"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the job was enqueued"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last status transition"
          }
        }
      },
      "TokenPrincipal": {
        "type": "object",
        "required": [
          "id",
          "slug",
          "description",
          "prefix",
          "rdid",
          "bucketRdid",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "prefix": {
            "type": "string",
            "description": "Non-secret leading chars of the secret, for display"
          },
          "rdid": {
            "type": "string",
            "nullable": true,
            "description": "reverse-domain id, e.g. token.<owner-slug>.<name>; null if it has no canonical mapping"
          },
          "bucketRdid": {
            "type": "string",
            "nullable": true,
            "description": "the token’s own isolated bucket, e.g. storage.<owner-slug>.<name>; null if it has no canonical mapping"
          },
          "expiresAt": {
            "type": "string",
            "nullable": true
          },
          "lastUsedAt": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "TokenPrincipalCreated": {
        "type": "object",
        "required": [
          "id",
          "rdid",
          "slug",
          "description",
          "prefix",
          "bucketRdid",
          "token"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "rdid": {
            "type": "string",
            "description": "reverse-domain id, e.g. token.<owner-slug>.<name>"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "prefix": {
            "type": "string",
            "description": "Non-secret leading chars of the secret, for display"
          },
          "bucketRdid": {
            "type": "string",
            "description": "the token’s own isolated bucket, e.g. storage.<owner-slug>.<name>"
          },
          "token": {
            "type": "string",
            "description": "the raw `adh_…` secret — shown once, never again"
          }
        }
      },
      "IntegrationConnectFields": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        },
        "description": "The provider's declared config fields (configFields), keyed by field key; validated + split into the secret vs non-secret config against the spec."
      },
      "IntegrationActionMediaItem": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string"
          },
          "altText": {
            "type": "string"
          }
        }
      },
      "IntegrationActionFields": {
        "type": "object",
        "description": "Provider merge/custom fields — flat string, number, or boolean values",
        "additionalProperties": true
      },
      "ProblemDetails": {
        "type": "object",
        "required": [
          "title",
          "status"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "URI identifying the problem type; 'about:blank' when unspecified"
          },
          "title": {
            "type": "string",
            "description": "Short, human-readable summary of the problem type"
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code, duplicated in the body"
          },
          "detail": {
            "type": "string",
            "description": "Explanation specific to this occurrence"
          },
          "instance": {
            "type": "string",
            "description": "URI reference for this occurrence (the request path)"
          }
        }
      },
      "IntegrationConnection": {
        "type": "object",
        "required": [
          "id",
          "provider",
          "serviceType",
          "status",
          "displayName",
          "username",
          "externalAccountId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "provider": {
            "type": "string",
            "description": "Provider slug (e.g. google-calendar, github)"
          },
          "serviceType": {
            "type": "string",
            "description": "Service within the provider (e.g. calendar)"
          },
          "status": {
            "type": "string",
            "description": "active | error | revoked | pending"
          },
          "displayName": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "externalAccountId": {
            "type": "string",
            "description": "Provider-side account id"
          },
          "lastSyncAt": {
            "type": "string",
            "nullable": true,
            "description": "Last successful sync (null = never)"
          },
          "lastError": {
            "type": "string",
            "nullable": true,
            "description": "Last recorded sync error"
          },
          "createdAt": {
            "type": "string"
          },
          "syncSettings": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true,
            "description": "Caller-tunable sync settings (gmailLabelIds / redditSubreddits / …) — non-secret, returned so settings forms can prefill instead of blind-overwriting."
          }
        }
      },
      "IntegrationProvider": {
        "type": "object",
        "required": [
          "providerId",
          "displayName",
          "authMethod",
          "serviceTypes",
          "capabilities",
          "defaultPollIntervalMs",
          "subtitle",
          "description",
          "links"
        ],
        "properties": {
          "providerId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "authMethod": {
            "type": "string",
            "enum": [
              "oauth",
              "oauth_instance",
              "plaid_link",
              "api_key",
              "app_password",
              "github_app"
            ]
          },
          "serviceTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "read | write | auth"
          },
          "defaultPollIntervalMs": {
            "type": "integer",
            "description": "Default minimum sync interval (ms)"
          },
          "configFields": {
            "type": "array",
            "description": "For api_key providers: declarative config/credential fields, rendered + validated identically at ecosystem and user scope (absent for OAuth-style providers).",
            "items": {
              "type": "object",
              "required": [
                "key",
                "label",
                "secret",
                "required"
              ],
              "properties": {
                "key": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "secret": {
                  "type": "boolean"
                },
                "required": {
                  "type": "boolean"
                },
                "placeholder": {
                  "type": "string"
                }
              }
            }
          },
          "subtitle": {
            "type": "string",
            "description": "Short human category for the picker list + filter (e.g. Email, Social)"
          },
          "description": {
            "type": "string",
            "description": "What the service is and what enabling it does"
          },
          "links": {
            "type": "array",
            "description": "Out-links for the info card (homepage / docs / \"get your keys\")",
            "items": {
              "type": "object",
              "required": [
                "label",
                "url"
              ],
              "properties": {
                "label": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "IntegrationGlobalConfig": {
        "type": "object",
        "required": [
          "providerId",
          "config",
          "hasSecret"
        ],
        "properties": {
          "providerId": {
            "type": "string"
          },
          "config": {
            "type": "object",
            "additionalProperties": true,
            "description": "Non-secret config: clientId, scopes, URLs, endpoints, credentialStyle"
          },
          "hasSecret": {
            "type": "boolean",
            "description": "Whether a client secret is stored (the value is never returned)"
          },
          "updatedBy": {
            "type": "string",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IntegrationProviderConfig": {
        "type": "object",
        "required": [
          "id",
          "ecosystemId",
          "providerId",
          "name",
          "rdid",
          "config",
          "hasSecret"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "ecosystemId": {
            "type": "string",
            "description": "Ecosystem id (the RLS owner)"
          },
          "providerId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Human-facing instance name (drives the rdid leaf)"
          },
          "rdid": {
            "type": "string",
            "nullable": true,
            "description": "The reverse-domain id integration.<ecosystem-slug>.<name-slug> (addressable), or null when this row has no canonical mapping. NULLABLE RATHER THAN \"\" — the read paths attach the rdid with a second lookup that can legitimately come back empty (a row predating the mint, or one whose mapping an operator freed), and the empty string is a valid rdid-shaped value clients treat as one: keying rows on it collapses every unmapped config into a single identity. Fall back to `id` for row identity."
          },
          "config": {
            "type": "object",
            "additionalProperties": true,
            "description": "Non-secret config: clientId, scopes, URLs, endpoints, credentialStyle"
          },
          "hasSecret": {
            "type": "boolean",
            "description": "Whether a client secret is stored (the value is never returned)"
          },
          "updatedBy": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "deliverabilityWebhook": {
            "nullable": true,
            "type": "object",
            "required": [
              "url",
              "secretHeader",
              "secret",
              "instruction"
            ],
            "properties": {
              "url": {
                "type": "string",
                "description": "Absolute URL to paste into Postmark"
              },
              "secretHeader": {
                "type": "string",
                "description": "Header Postmark must send this config's webhook secret in"
              },
              "secret": {
                "type": "string",
                "nullable": true,
                "description": "This config's own inbound webhook secret. Never shared between ecosystems. Null when none has been minted yet (a config predating the feature) — POST .../rotate-webhook-secret mints one."
              },
              "instruction": {
                "type": "string",
                "description": "One-line operator instruction"
              }
            },
            "description": "Postmark deliverability webhook registration details (postmark configs only)"
          }
        }
      },
      "IntegrationConnectRequest": {
        "oneOf": [
          {
            "title": "IntegrationConnectOAuth",
            "type": "object",
            "required": [
              "type",
              "providerId",
              "serviceType",
              "ecosystemId",
              "code",
              "redirectUri",
              "state"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "oauth"
                ]
              },
              "providerId": {
                "type": "string"
              },
              "serviceType": {
                "type": "string"
              },
              "ecosystemId": {
                "type": "string",
                "description": "Target ecosystem id (the caller must manage it)"
              },
              "code": {
                "type": "string",
                "description": "OAuth authorization code"
              },
              "redirectUri": {
                "type": "string"
              },
              "state": {
                "type": "string",
                "description": "The HMAC-signed state returned by the auth-url endpoint (CSRF)"
              }
            }
          },
          {
            "title": "IntegrationConnectApiKey",
            "type": "object",
            "required": [
              "type",
              "providerId",
              "serviceType",
              "ecosystemId",
              "fields"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "api_key"
                ]
              },
              "providerId": {
                "type": "string"
              },
              "serviceType": {
                "type": "string"
              },
              "ecosystemId": {
                "type": "string",
                "description": "Target ecosystem id (the caller must manage it)"
              },
              "fields": {
                "$ref": "#/components/schemas/IntegrationConnectFields"
              }
            }
          },
          {
            "title": "IntegrationConnectAppPassword",
            "type": "object",
            "required": [
              "type",
              "providerId",
              "serviceType",
              "ecosystemId",
              "identifier",
              "password"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "app_password"
                ]
              },
              "providerId": {
                "type": "string"
              },
              "serviceType": {
                "type": "string"
              },
              "ecosystemId": {
                "type": "string",
                "description": "Target ecosystem id (the caller must manage it)"
              },
              "identifier": {
                "type": "string"
              },
              "password": {
                "type": "string"
              },
              "instanceUrl": {
                "type": "string"
              }
            }
          },
          {
            "title": "IntegrationConnectPlaidLink",
            "type": "object",
            "required": [
              "type",
              "providerId",
              "serviceType",
              "ecosystemId",
              "publicToken"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "plaid_link"
                ]
              },
              "providerId": {
                "type": "string"
              },
              "serviceType": {
                "type": "string"
              },
              "ecosystemId": {
                "type": "string",
                "description": "Target ecosystem id (the caller must manage it)"
              },
              "publicToken": {
                "type": "string"
              }
            }
          },
          {
            "title": "IntegrationConnectOAuthInstance",
            "type": "object",
            "required": [
              "type",
              "providerId",
              "serviceType",
              "ecosystemId",
              "code",
              "state"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "oauth_instance"
                ]
              },
              "providerId": {
                "type": "string"
              },
              "serviceType": {
                "type": "string"
              },
              "ecosystemId": {
                "type": "string",
                "description": "Target ecosystem id (the caller must manage it)"
              },
              "code": {
                "type": "string"
              },
              "state": {
                "type": "string"
              }
            }
          },
          {
            "title": "IntegrationConnectGithubApp",
            "type": "object",
            "required": [
              "type",
              "providerId",
              "serviceType",
              "ecosystemId",
              "installationId",
              "state"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "github_app"
                ]
              },
              "providerId": {
                "type": "string"
              },
              "serviceType": {
                "type": "string"
              },
              "ecosystemId": {
                "type": "string",
                "description": "Target ecosystem id (the caller must manage it)"
              },
              "installationId": {
                "type": "string",
                "description": "The numeric installation id the provider redirects back with"
              },
              "state": {
                "type": "string",
                "description": "The HMAC-signed state returned by the install-url endpoint (CSRF)"
              }
            }
          }
        ]
      },
      "IntegrationActionRequest": {
        "oneOf": [
          {
            "title": "IntegrationActionSend",
            "type": "object",
            "description": "actionType=send — an outbound email; at least one body is required",
            "required": [
              "to",
              "subject"
            ],
            "properties": {
              "to": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 1
              },
              "cc": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "bcc": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "subject": {
                "type": "string"
              },
              "bodyText": {
                "type": "string"
              },
              "bodyHtml": {
                "type": "string"
              }
            }
          },
          {
            "title": "IntegrationActionPost",
            "type": "object",
            "description": "actionType=post — an outbound social post; requires text or media",
            "properties": {
              "text": {
                "type": "string"
              },
              "media": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IntegrationActionMediaItem"
                }
              },
              "replyTo": {
                "type": "string"
              }
            }
          },
          {
            "title": "IntegrationActionSms",
            "type": "object",
            "description": "actionType=sms — an outbound text message (Twilio-style)",
            "required": [
              "to",
              "body"
            ],
            "properties": {
              "to": {
                "type": "string",
                "description": "E.164 phone number (e.g. +15551234567)"
              },
              "body": {
                "type": "string",
                "minLength": 1
              }
            }
          },
          {
            "title": "IntegrationActionSubmit",
            "type": "object",
            "description": "actionType=submit — a Reddit-style subreddit submission; exactly one of url (link post) or non-empty text (self post) is required (an empty-string text counts as absent)",
            "required": [
              "subreddit",
              "title"
            ],
            "properties": {
              "subreddit": {
                "type": "string",
                "pattern": "^[A-Za-z0-9_]{2,21}$",
                "description": "Subreddit name without the r/ prefix"
              },
              "title": {
                "type": "string",
                "maxLength": 300
              },
              "url": {
                "type": "string",
                "description": "Link post target (mutually exclusive with text)"
              },
              "text": {
                "type": "string",
                "description": "Self-post body (mutually exclusive with url)"
              }
            }
          },
          {
            "title": "IntegrationActionComment",
            "type": "object",
            "description": "actionType=comment — a Reddit reply (reuses the post shape); requires non-empty text and replyTo (a t1_/t3_ fullname); media is rejected by the handler",
            "properties": {
              "text": {
                "type": "string"
              },
              "media": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IntegrationActionMediaItem"
                }
              },
              "replyTo": {
                "type": "string",
                "description": "The t1_/t3_ fullname being replied to"
              }
            }
          },
          {
            "title": "IntegrationActionSubscribe",
            "type": "object",
            "description": "actionType=subscribe — add or update one contact on a newsletter audience; audienceId is the PROVIDER list id",
            "required": [
              "audienceId",
              "email"
            ],
            "properties": {
              "audienceId": {
                "type": "string",
                "minLength": 1,
                "description": "Provider list id"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "fields": {
                "$ref": "#/components/schemas/IntegrationActionFields"
              }
            }
          },
          {
            "title": "IntegrationActionUnsubscribe",
            "type": "object",
            "description": "actionType=unsubscribe — remove one contact from ONE audience; audienceId is required (a list-less unsubscribe would be global)",
            "required": [
              "audienceId",
              "email"
            ],
            "properties": {
              "audienceId": {
                "type": "string",
                "minLength": 1,
                "description": "Provider list id"
              },
              "email": {
                "type": "string",
                "format": "email"
              }
            }
          },
          {
            "title": "IntegrationActionBroadcast",
            "type": "object",
            "description": "actionType=broadcast — compose (but do NOT send) a broadcast to an audience; returns the broadcast id",
            "required": [
              "audienceId",
              "subject",
              "bodyHtml"
            ],
            "properties": {
              "audienceId": {
                "type": "string",
                "minLength": 1,
                "description": "Provider list id"
              },
              "subject": {
                "type": "string"
              },
              "fromName": {
                "type": "string"
              },
              "replyTo": {
                "type": "string",
                "format": "email"
              },
              "bodyHtml": {
                "type": "string",
                "minLength": 1
              },
              "bodyText": {
                "type": "string"
              }
            }
          },
          {
            "title": "IntegrationActionBroadcastSend",
            "type": "object",
            "description": "actionType=broadcast_send — dispatch a broadcast previously created by actionType=broadcast",
            "required": [
              "broadcastId"
            ],
            "properties": {
              "broadcastId": {
                "type": "string",
                "minLength": 1,
                "description": "The externalId returned by the broadcast action"
              }
            }
          }
        ]
      },
      "IntegrationActionResult": {
        "type": "object",
        "required": [
          "ok",
          "status",
          "actionLogId",
          "externalId",
          "deduped"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "true when status is ok"
          },
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          },
          "actionLogId": {
            "type": "string",
            "description": "The integration_action_logs row id"
          },
          "externalId": {
            "type": "string",
            "nullable": true,
            "description": "Provider-side id produced, if any"
          },
          "deduped": {
            "type": "boolean",
            "description": "true when an Idempotency-Key replay returned a prior row"
          },
          "error": {
            "type": "string",
            "description": "Failure message when status is error"
          }
        }
      },
      "PublicInvitationRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "ecosystem": {
            "type": "string",
            "description": "Target ecosystem address (rdid or uuid). Absent = the hub. Unknown/deleted → 404."
          }
        }
      },
      "InviteVerifyRequest": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string"
          }
        }
      },
      "InviteVerifyResult": {
        "type": "object",
        "required": [
          "ok",
          "ecosystemName"
        ],
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "ecosystemName": {
            "type": "string"
          }
        }
      },
      "InvitePreview": {
        "type": "object",
        "required": [
          "state"
        ],
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "valid",
              "expired",
              "accepted",
              "invalid"
            ]
          },
          "ecosystemName": {
            "type": [
              "string",
              "null"
            ]
          },
          "maskedDestination": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "InviteAcceptRequest": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "InviteAcceptResult": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "accepted",
              "verification_required"
            ]
          },
          "ecosystemName": {
            "type": "string"
          }
        }
      },
      "PendingUser": {
        "type": "object",
        "description": "A person known to the ecosystem who has not accepted an invitation yet.",
        "required": [
          "id",
          "ecosystemId",
          "userNumber",
          "name",
          "email",
          "phone",
          "status",
          "requestCount",
          "invitedCount",
          "lastRequestAt",
          "lastInviteSentAt",
          "firstRequestedAt",
          "lastSource",
          "lastNote",
          "acceptedCustomerId",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 36
          },
          "ecosystemId": {
            "type": "string",
            "maxLength": 36
          },
          "userNumber": {
            "type": "integer",
            "description": "Sequential within the ecosystem, assigned on insert"
          },
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "email": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          },
          "phone": {
            "type": "string",
            "maxLength": 32,
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "invited",
              "accepted",
              "declined"
            ]
          },
          "requestCount": {
            "type": "integer"
          },
          "invitedCount": {
            "type": "integer"
          },
          "lastRequestAt": {
            "type": "string",
            "nullable": true
          },
          "lastInviteSentAt": {
            "type": "string",
            "nullable": true
          },
          "firstRequestedAt": {
            "type": "string"
          },
          "lastSource": {
            "type": "string",
            "maxLength": 120,
            "nullable": true
          },
          "lastNote": {
            "type": "string",
            "nullable": true
          },
          "acceptedCustomerId": {
            "type": "string",
            "maxLength": 36,
            "nullable": true
          },
          "contactId": {
            "type": "string",
            "maxLength": 36,
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "Invitation": {
        "type": "object",
        "description": "One invite delivered to one destination. Inviting by both email and SMS makes two.",
        "required": [
          "id",
          "ecosystemId",
          "pendingUserId",
          "name",
          "channel",
          "destination",
          "tokenHash",
          "status",
          "sentBy",
          "sentAt",
          "expiresAt",
          "acceptedAt",
          "acceptedCustomerId",
          "messageLogId",
          "adminNote",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 36
          },
          "ecosystemId": {
            "type": "string",
            "maxLength": 36
          },
          "pendingUserId": {
            "type": "string",
            "maxLength": 36
          },
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "channel": {
            "type": "string",
            "enum": [
              "email",
              "sms"
            ]
          },
          "destination": {
            "type": "string",
            "maxLength": 255
          },
          "tokenHash": {
            "type": "string",
            "maxLength": 64
          },
          "status": {
            "type": "string",
            "enum": [
              "sent",
              "registered",
              "accepted",
              "expired",
              "revoked"
            ]
          },
          "sentBy": {
            "type": "string",
            "maxLength": 36
          },
          "sentAt": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string"
          },
          "acceptedAt": {
            "type": "string",
            "nullable": true
          },
          "acceptedCustomerId": {
            "type": "string",
            "maxLength": 36,
            "nullable": true
          },
          "messageLogId": {
            "type": "string",
            "maxLength": 36,
            "nullable": true
          },
          "adminNote": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "InvitationRequest": {
        "type": "object",
        "description": "An unsolicited ask to join, as captured by the public request form.",
        "required": [
          "id",
          "ecosystemId",
          "pendingUserId",
          "name",
          "email",
          "phone",
          "source",
          "note",
          "createdAt",
          "userNumber"
        ],
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 36
          },
          "ecosystemId": {
            "type": "string",
            "maxLength": 36
          },
          "pendingUserId": {
            "type": "string",
            "maxLength": 36
          },
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "email": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          },
          "phone": {
            "type": "string",
            "maxLength": 32,
            "nullable": true
          },
          "source": {
            "type": "string",
            "maxLength": 120,
            "nullable": true
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "userNumber": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "AddPendingUsersBody": {
        "type": "object",
        "required": [
          "users"
        ],
        "properties": {
          "users": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/AddPendingUser"
            }
          }
        }
      },
      "AddPendingUser": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 255
          },
          "phone": {
            "type": "string",
            "maxLength": 32
          },
          "note": {
            "type": "string"
          }
        }
      },
      "SendInvitesBody": {
        "type": "object",
        "description": "Names the people to invite and the channels to reach them on. At least one channel is required.",
        "required": [
          "pendingUserIds"
        ],
        "properties": {
          "pendingUserIds": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36
            }
          },
          "email": {
            "$ref": "#/components/schemas/SendInviteChannel"
          },
          "sms": {
            "$ref": "#/components/schemas/SendInviteChannel"
          }
        }
      },
      "SendInviteChannel": {
        "type": "object",
        "description": "Send on this channel. `note` is added to the message body.",
        "properties": {
          "note": {
            "type": "string"
          }
        }
      },
      "Announcement": {
        "type": "object",
        "required": [
          "id",
          "createdBy",
          "title",
          "body",
          "audience",
          "status",
          "createdAt",
          "updatedAt",
          "sentAt",
          "totalRecipients",
          "sentCount"
        ],
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 36
          },
          "createdBy": {
            "type": "string",
            "maxLength": 36
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "audience": {
            "type": "string",
            "description": "See AnnouncementCreate.audience"
          },
          "status": {
            "type": "string",
            "description": "e.g. sending, sent"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "sentAt": {
            "type": "string",
            "nullable": true,
            "description": "null until the fan-out finishes"
          },
          "totalRecipients": {
            "type": "integer"
          },
          "sentCount": {
            "type": "integer"
          }
        }
      },
      "AnnouncementList": {
        "type": "object",
        "required": [
          "announcements"
        ],
        "properties": {
          "announcements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Announcement"
            }
          }
        }
      },
      "AnnouncementCreate": {
        "type": "object",
        "required": [
          "title",
          "body"
        ],
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1
          },
          "body": {
            "type": "string",
            "minLength": 1
          },
          "audience": {
            "type": "string",
            "default": "all_hub",
            "description": "Reserved for targeting. Stored and echoed back, but fan-out currently reaches every live customer of the ecosystem whatever this says — it is not yet an enum, and no value narrows the audience."
          }
        }
      },
      "AnnouncementAccepted": {
        "type": "object",
        "required": [
          "id",
          "recipientCount",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 36
          },
          "recipientCount": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "sending"
            ]
          }
        }
      },
      "AuthUserMethod": {
        "type": "object",
        "required": [
          "id",
          "userId",
          "provider",
          "providerId",
          "hasCredential",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "providerId": {
            "type": "string",
            "nullable": true
          },
          "hasCredential": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "AuthMethodSetting": {
        "type": "object",
        "required": [
          "method",
          "enabled"
        ],
        "properties": {
          "method": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "PostmarkDeliverabilityEvent": {
        "type": "object",
        "required": [
          "RecordType"
        ],
        "properties": {
          "RecordType": {
            "type": "string",
            "description": "'Bounce' | 'SpamComplaint' | 'SubscriptionChange' | anything else (ignored)"
          },
          "Type": {
            "type": "string",
            "description": "e.g. 'HardBounce', 'SoftBounce', 'BadEmailAddress'"
          },
          "Email": {
            "type": "string"
          },
          "Recipient": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "SuppressSending": {
            "type": "boolean",
            "description": "Only meaningful on a 'SubscriptionChange' event: Postmark sends this both when an address ENTERS its suppression list (true) and when it LEAVES (false). Only true suppresses — acting on false would permanently silence a re-subscribe."
          }
        }
      },
      "SignupListPublic": {
        "type": "object",
        "required": [
          "name",
          "description",
          "status",
          "nonce",
          "minAgeMs"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "closed"
            ]
          },
          "minAgeMs": {
            "type": "integer",
            "description": "How long after this response a submit carrying the nonce is accepted. A client MUST wait it out: submitting sooner is rejected as an opaque `400 invalid submission`, and because a retry needs a fresh nonce, retrying promptly restarts the same clock indefinitely. Measure the delay from RECEIVING this response, not from a clock comparison — the deadline is server-side and client clocks are not trusted."
          },
          "nonce": {
            "type": "string",
            "description": "Round-trip anti-abuse token, bound to this publicKey. The submit must present it back; it is rejected if the signature does not verify, if it was minted for a different list, if it is older than its TTL, or if it is younger than the minimum form-fill age. NOT single-use: it is a signed timestamp with no server-side record, so the same nonce may be submitted repeatedly until its TTL expires. Clients must not rely on replay being refused; the per-IP cap, not the nonce, bounds volume."
          }
        }
      },
      "ListMember": {
        "type": "object",
        "required": [
          "id",
          "contactId",
          "email",
          "name",
          "deliveryStatus",
          "bounceCount",
          "status",
          "consentSourceUrl",
          "consentAt",
          "unsubscribedAt",
          "resubscribedAt",
          "unsubscribeCount",
          "emailsSentCount",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "the list_members row id"
          },
          "contactId": {
            "type": "string"
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "deliveryStatus": {
            "type": "string",
            "enum": [
              "ok",
              "bounced",
              "complained",
              "suppressed"
            ]
          },
          "bounceCount": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "subscribed",
              "unsubscribed"
            ]
          },
          "consentSourceUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "consentAt": {
            "type": "string"
          },
          "unsubscribedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "When they LAST unsubscribed. Durable — a later resubscribe never clears it, so a currently-subscribed member may carry one."
          },
          "resubscribedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "When they last signed up again after unsubscribing. Null if they never did."
          },
          "unsubscribeCount": {
            "type": "integer",
            "description": "Opt-out transitions for this membership. A mailbox provider retrying the one-click unsubscribe does not increment it; a resubscribe does not reset it."
          },
          "emailsSentCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "ListStats": {
        "type": "object",
        "required": [
          "subscribed",
          "unsubscribed",
          "suppressed",
          "total"
        ],
        "properties": {
          "subscribed": {
            "type": "integer",
            "description": "subscribed AND currently mailable"
          },
          "unsubscribed": {
            "type": "integer"
          },
          "suppressed": {
            "type": "integer",
            "description": "subscribed but NOT mailable (deliveryStatus != 'ok' — bounced/complained/suppressed)"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Campaign": {
        "type": "object",
        "required": [
          "id",
          "ecosystemId",
          "listId",
          "name",
          "subject",
          "htmlBody",
          "textBody",
          "fromName",
          "status",
          "recipientCount",
          "sentCount",
          "failedCount",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "ecosystemId": {
            "type": "string"
          },
          "listId": {
            "type": "string"
          },
          "createdBy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "name": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "htmlBody": {
            "type": "string"
          },
          "textBody": {
            "type": "string"
          },
          "fromName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "scheduled",
              "sending",
              "sent",
              "failed",
              "cancelled"
            ]
          },
          "scheduledAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "startedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "completedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "recipientCount": {
            "type": "integer"
          },
          "sentCount": {
            "type": "integer"
          },
          "failedCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "CampaignCreate": {
        "type": "object",
        "required": [
          "name",
          "subject",
          "htmlBody",
          "textBody"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "subject": {
            "type": "string",
            "maxLength": 500
          },
          "htmlBody": {
            "type": "string"
          },
          "textBody": {
            "type": "string"
          },
          "fromName": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 255
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "CampaignPatch": {
        "type": "object",
        "description": "All fields optional; only present on a campaign still in draft.",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "subject": {
            "type": "string",
            "maxLength": 500
          },
          "htmlBody": {
            "type": "string"
          },
          "textBody": {
            "type": "string"
          },
          "fromName": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 255
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "Delivery": {
        "type": "object",
        "required": [
          "id",
          "email",
          "name",
          "status",
          "attempts",
          "lastError",
          "sentAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "sending",
              "sent",
              "failed",
              "skipped"
            ]
          },
          "attempts": {
            "type": "integer"
          },
          "lastError": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "sentAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "TestSendBody": {
        "type": "object",
        "required": [
          "to"
        ],
        "properties": {
          "to": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "SendResult": {
        "type": "object",
        "required": [
          "queued",
          "skipped"
        ],
        "properties": {
          "queued": {
            "type": "integer",
            "description": "deliveries materialized and left for the drain to send"
          },
          "skipped": {
            "type": "integer",
            "description": "members not queued (unsubscribed or undeliverable)"
          }
        }
      },
      "InviteResult": {
        "type": "object",
        "required": [
          "created",
          "skipped"
        ],
        "properties": {
          "created": {
            "type": "integer",
            "description": "new auth.pending_users rows created from this list"
          },
          "skipped": {
            "type": "integer",
            "description": "members already pending/invited, or undeliverable, so left untouched"
          }
        }
      },
      "RotateKeyResult": {
        "type": "object",
        "required": [
          "publicKey"
        ],
        "properties": {
          "publicKey": {
            "type": "string",
            "description": "the list's NEW embed key. The old key stops working immediately — any page still embedding it must be updated."
          }
        }
      },
      "BillingContext": {
        "type": "object",
        "required": [
          "ecosystemId",
          "billingEnabled",
          "canManage",
          "stripeStatus",
          "webhookPath"
        ],
        "properties": {
          "ecosystemId": {
            "type": "string"
          },
          "billingEnabled": {
            "type": "boolean"
          },
          "canManage": {
            "type": "boolean"
          },
          "stripeStatus": {
            "type": "string",
            "enum": [
              "connected",
              "not_connected",
              "unknown"
            ]
          },
          "webhookPath": {
            "type": "string"
          }
        }
      },
      "BillingEvent": {
        "type": "object",
        "required": [
          "id",
          "stripeEventId",
          "type",
          "receivedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "stripeEventId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "receivedAt": {
            "type": "string"
          },
          "processedAt": {
            "type": "string",
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BillingAccount": {
        "type": "object",
        "required": [
          "id",
          "offerId",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "offerId": {
            "type": "string"
          },
          "stripeCustomerId": {
            "type": "string",
            "nullable": true
          },
          "stripeCheckoutSessionId": {
            "type": "string",
            "nullable": true
          },
          "stripeSubscriptionId": {
            "type": "string",
            "nullable": true
          },
          "payerEmail": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "currentPeriodEnd": {
            "type": "string",
            "nullable": true
          },
          "lapsedAt": {
            "type": "string",
            "nullable": true
          },
          "claimedCustomerId": {
            "type": "string",
            "nullable": true
          },
          "claimedAt": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "BillingResendClaim": {
        "type": "object",
        "required": [
          "ok",
          "accountId",
          "expiresAt"
        ],
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "accountId": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string"
          }
        }
      },
      "BillingPriceOption": {
        "type": "object",
        "required": [
          "id",
          "productId",
          "currency"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "productName": {
            "type": "string",
            "nullable": true
          },
          "unitAmount": {
            "type": "integer",
            "nullable": true
          },
          "currency": {
            "type": "string"
          },
          "interval": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BillingRedriveResult": {
        "type": "object",
        "required": [
          "examined",
          "applied",
          "terminal",
          "stillPending",
          "unreadable",
          "failed",
          "nextOffset"
        ],
        "properties": {
          "examined": {
            "type": "integer"
          },
          "applied": {
            "type": "integer"
          },
          "terminal": {
            "type": "integer"
          },
          "stillPending": {
            "type": "integer"
          },
          "unreadable": {
            "type": "integer"
          },
          "failed": {
            "type": "integer"
          },
          "nextOffset": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "BillingClaimRequest": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "BillingClaimResult": {
        "type": "object",
        "required": [
          "ok",
          "ecosystemId",
          "offerId"
        ],
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "ecosystemId": {
            "type": "string"
          },
          "offerId": {
            "type": "string"
          }
        }
      },
      "StripeWebhookEvent": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "type"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "created": {
            "type": "integer"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "BillingAck": {
        "type": "object",
        "required": [
          "ok"
        ],
        "properties": {
          "ok": {
            "type": "boolean"
          }
        }
      },
      "BucketRow": {
        "type": "object",
        "additionalProperties": true,
        "description": "A bucket-table row. Intentionally open — the column set is defined at runtime by the developer-managed table this bucket points at, so no fixed property schema applies."
      },
      "BucketRowList": {
        "type": "object",
        "required": [
          "rows"
        ],
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BucketRow"
            }
          }
        }
      },
      "BucketAccessGroup": {
        "type": "object",
        "required": [
          "id",
          "ecosystemId",
          "bucketId",
          "name",
          "description",
          "kind",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "ecosystemId": {
            "type": "string",
            "description": "owning ecosystem"
          },
          "bucketId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "description": "'everyone' (seeded) or 'custom'"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "BucketAccessGroupMember": {
        "type": "object",
        "required": [
          "id",
          "ecosystemId",
          "accessGroupId",
          "memberType",
          "memberId",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "ecosystemId": {
            "type": "string"
          },
          "accessGroupId": {
            "type": "string"
          },
          "memberType": {
            "type": "string",
            "enum": [
              "user",
              "organization",
              "persona",
              "app",
              "token"
            ]
          },
          "memberId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "BucketGrant": {
        "type": "object",
        "required": [
          "id",
          "ecosystemId",
          "accessGroupId",
          "targetType",
          "targetId",
          "crud",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "ecosystemId": {
            "type": "string"
          },
          "accessGroupId": {
            "type": "string"
          },
          "targetType": {
            "type": "string",
            "enum": [
              "bucket",
              "bucket_type",
              "row"
            ]
          },
          "targetId": {
            "type": "string"
          },
          "crud": {
            "type": "string",
            "description": "comma-separated CRUD subset, e.g. 'C,R,U,D' or '' (none)"
          },
          "grantedBy": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "BucketAccessGroupDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BucketAccessGroup"
          },
          {
            "type": "object",
            "required": [
              "members",
              "grants"
            ],
            "properties": {
              "members": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BucketAccessGroupMember"
                }
              },
              "grants": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BucketGrant"
                }
              }
            }
          }
        ]
      },
      "BucketAccessGroupList": {
        "type": "object",
        "required": [
          "accessGroups"
        ],
        "properties": {
          "accessGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BucketAccessGroup"
            }
          }
        }
      },
      "ChatConversation": {
        "type": "object",
        "required": [
          "id",
          "title",
          "model",
          "personaSlug",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "personaSlug": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "id",
          "role",
          "content",
          "toolName",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "role": {
            "type": "string",
            "description": "e.g. user, assistant, tool, system"
          },
          "content": {
            "type": "string"
          },
          "toolName": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "ChatConversationDetail": {
        "type": "object",
        "required": [
          "conversation",
          "messages"
        ],
        "properties": {
          "conversation": {
            "$ref": "#/components/schemas/ChatConversation"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          }
        }
      },
      "ChatConversationCreate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 200
          },
          "model": {
            "type": "string"
          },
          "personaSlug": {
            "type": "string"
          }
        }
      },
      "ChatConversationRename": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          }
        }
      },
      "ChatMessageEdit": {
        "type": "object",
        "required": [
          "content"
        ],
        "properties": {
          "content": {
            "type": "string"
          }
        }
      },
      "ChatSendMessage": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "minLength": 1
          },
          "clientMessageId": {
            "type": "string",
            "description": "Idempotency key for the user message"
          }
        }
      },
      "ChatStreamEvent": {
        "description": "One event in the SSE chat stream. The SSE `event:` name carries the discriminator (`open` | `token` | `tool_call_started` | `tool_call_completed` | `done` | `error`); the JSON `data:` payload is one of the shapes below.",
        "oneOf": [
          {
            "title": "ChatTokenEvent",
            "type": "object",
            "description": "token — a chunk of streamed assistant text",
            "required": [
              "text"
            ],
            "properties": {
              "text": {
                "type": "string"
              }
            }
          },
          {
            "title": "ChatToolCallStartedEvent",
            "type": "object",
            "description": "tool_call_started — the model invoked a tool",
            "required": [
              "name",
              "arguments"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "arguments": {
                "type": "string",
                "description": "JSON-encoded tool arguments"
              }
            }
          },
          {
            "title": "ChatToolCallCompletedEvent",
            "type": "object",
            "description": "tool_call_completed — a tool finished",
            "required": [
              "name",
              "ok",
              "result"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "ok": {
                "type": "boolean"
              },
              "result": {
                "type": "string",
                "description": "JSON-encoded tool result"
              }
            }
          },
          {
            "title": "ChatDoneEvent",
            "type": "object",
            "description": "done — the turn completed (empty payload)"
          },
          {
            "title": "ChatErrorEvent",
            "type": "object",
            "description": "error — the turn failed; the message explains why (HTTP stays 200)",
            "required": [
              "message"
            ],
            "properties": {
              "message": {
                "type": "string"
              }
            }
          }
        ]
      },
      "DmMessage": {
        "type": "object",
        "description": "One direct message. Also the payload of a `message` event on the DM SSE stream.",
        "required": [
          "id",
          "chatId",
          "senderParticipantId",
          "senderUserId",
          "seq",
          "role",
          "body",
          "state",
          "dateSent"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "chatId": {
            "type": "string",
            "maxLength": 36
          },
          "senderParticipantId": {
            "type": "string",
            "nullable": true
          },
          "senderUserId": {
            "type": "string"
          },
          "seq": {
            "type": "integer",
            "description": "Per-chat monotonic sequence; the stream cursor"
          },
          "role": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "dateSent": {
            "type": "string"
          }
        }
      },
      "DmMessagePreview": {
        "type": "object",
        "nullable": true,
        "description": "The chat's most recent message, trimmed to what a chat list renders.",
        "required": [
          "id",
          "senderParticipantId",
          "body",
          "seq",
          "dateSent"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "senderParticipantId": {
            "type": "string",
            "nullable": true
          },
          "body": {
            "type": "string"
          },
          "seq": {
            "type": "integer"
          },
          "dateSent": {
            "type": "string"
          }
        }
      },
      "DmChatSummary": {
        "type": "object",
        "required": [
          "chatId",
          "otherUserId",
          "lastMessage",
          "unreadCount"
        ],
        "properties": {
          "chatId": {
            "type": "string",
            "maxLength": 36
          },
          "otherUserId": {
            "type": "string"
          },
          "lastMessage": {
            "$ref": "#/components/schemas/DmMessagePreview"
          },
          "unreadCount": {
            "type": "integer"
          }
        }
      },
      "DmChatList": {
        "type": "object",
        "required": [
          "chats",
          "total",
          "page",
          "pageSize"
        ],
        "properties": {
          "chats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DmChatSummary"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "DmMessageList": {
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "pageSize"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DmMessage"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "DmCreateRequest": {
        "type": "object",
        "required": [
          "recipientId"
        ],
        "properties": {
          "recipientId": {
            "type": "string",
            "minLength": 1,
            "description": "The other user. The caller's own id is a 400."
          }
        }
      },
      "DmCreateResult": {
        "type": "object",
        "required": [
          "id",
          "otherUserId",
          "created"
        ],
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 36,
            "description": "The chat id"
          },
          "otherUserId": {
            "type": "string"
          },
          "created": {
            "type": "boolean",
            "description": "false when an existing chat was reused"
          }
        }
      },
      "DmSendMessage": {
        "type": "object",
        "required": [
          "body"
        ],
        "properties": {
          "body": {
            "type": "string",
            "minLength": 1
          },
          "clientMessageId": {
            "type": "string",
            "description": "Idempotency key; a replay returns 200"
          }
        }
      },
      "DmReadRequest": {
        "type": "object",
        "properties": {
          "messageId": {
            "type": "string",
            "description": "Mark read through this message; omit for the latest"
          }
        }
      },
      "DmReadResult": {
        "type": "object",
        "required": [
          "success",
          "unreadCount"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "unreadCount": {
            "type": "integer"
          }
        }
      },
      "CommunicationSettings": {
        "type": "object",
        "required": [
          "dmAudienceMask",
          "presenceAudienceMask",
          "appearOffline"
        ],
        "properties": {
          "dmAudienceMask": {
            "type": "integer",
            "minimum": 0,
            "description": "AUDIENCE bitmask of who may DM the user (0 = nobody; default PUBLIC|HUB = 3)"
          },
          "presenceAudienceMask": {
            "type": "integer",
            "minimum": 0,
            "description": "AUDIENCE bitmask of who may see the user presence (0 = nobody; default PUBLIC|HUB = 3)"
          },
          "appearOffline": {
            "type": "boolean",
            "description": "When true, presence is hidden from EVERYONE regardless of the mask"
          }
        }
      },
      "AppearanceSettings": {
        "type": "object",
        "required": [
          "prefs"
        ],
        "properties": {
          "prefs": {
            "type": "object",
            "properties": {
              "colorMode": {
                "type": "string",
                "enum": [
                  "auto",
                  "light",
                  "dark"
                ],
                "description": "The user's colour scheme; 'auto' follows the operating system"
              },
              "reduceMotion": {
                "type": "string",
                "enum": [
                  "auto",
                  "on",
                  "off"
                ]
              },
              "contrast": {
                "type": "string",
                "enum": [
                  "default",
                  "high",
                  "extra-high"
                ]
              },
              "textSize": {
                "type": "string",
                "enum": [
                  "default",
                  "small",
                  "large",
                  "extra-large"
                ]
              },
              "spacing": {
                "type": "string",
                "enum": [
                  "compact",
                  "comfortable",
                  "spacious"
                ]
              },
              "focusOutlines": {
                "type": "boolean"
              },
              "underlineLinks": {
                "type": "boolean"
              }
            },
            "description": "Empty object when the user has never saved a preference (client defaults apply)"
          }
        }
      },
      "WorkspacePrefs": {
        "type": "object",
        "required": [
          "prefs"
        ],
        "properties": {
          "prefs": {
            "type": "object",
            "properties": {
              "slug": {
                "type": "string",
                "description": "The workspace the user's /home chooser last landed on (a workspace slug)"
              }
            },
            "description": "Empty object when the user has never chosen a workspace (the client falls back to their personal one)"
          }
        }
      },
      "GamificationLevel": {
        "type": "object",
        "required": [
          "name",
          "minPoints",
          "sortOrder"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "minPoints": {
            "type": "integer",
            "description": "Inclusive point floor for this rung"
          },
          "sortOrder": {
            "type": "integer"
          },
          "subjectType": {
            "type": "string",
            "nullable": true,
            "description": "NULL = applies to any subject kind"
          }
        }
      },
      "GamificationBadge": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "icon",
          "criteriaType",
          "criteriaThreshold",
          "pointValue"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "criteriaType": {
            "type": "string"
          },
          "criteriaThreshold": {
            "type": "integer"
          },
          "pointValue": {
            "type": "integer"
          },
          "subjectType": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "GamificationRealmBadge": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "icon",
          "pointValue"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "statKey": {
            "type": "string",
            "nullable": true,
            "description": "The stat the rule watches"
          },
          "comparator": {
            "type": "string",
            "nullable": true,
            "enum": [
              ">=",
              ">",
              "=",
              null
            ]
          },
          "threshold": {
            "type": "integer",
            "nullable": true
          },
          "badgeLine": {
            "type": "string",
            "nullable": true,
            "description": "Groups the tiers of one line"
          },
          "tier": {
            "type": "string",
            "nullable": true,
            "enum": [
              "none",
              "bronze",
              "silver",
              "gold",
              "platinum",
              null
            ]
          },
          "pointValue": {
            "type": "integer",
            "description": "XP granted when earned"
          },
          "hidden": {
            "type": "boolean"
          },
          "active": {
            "type": "boolean"
          },
          "subjectType": {
            "type": "string",
            "nullable": true
          },
          "ecosystemId": {
            "type": "string",
            "nullable": true,
            "description": "NULL = platform default; else the realm"
          }
        }
      },
      "GamificationCatalogBadge": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GamificationRealmBadge"
          },
          {
            "type": "object",
            "required": [
              "source"
            ],
            "properties": {
              "source": {
                "type": "string",
                "enum": [
                  "default",
                  "realm"
                ],
                "description": "'realm' when a realm row shadows the same-slot default"
              }
            }
          }
        ]
      },
      "GamificationCatalogLevel": {
        "type": "object",
        "required": [
          "name",
          "minPoints",
          "source"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "minPoints": {
            "type": "integer"
          },
          "source": {
            "type": "string",
            "enum": [
              "default",
              "realm"
            ]
          }
        }
      },
      "GamificationCatalog": {
        "type": "object",
        "required": [
          "badges",
          "levels"
        ],
        "properties": {
          "badges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GamificationCatalogBadge"
            }
          },
          "levels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GamificationCatalogLevel"
            }
          }
        }
      },
      "GamificationRealmBadgeInput": {
        "type": "object",
        "required": [
          "name",
          "description",
          "icon",
          "statKey",
          "threshold",
          "badgeLine",
          "tier",
          "pointValue"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "statKey": {
            "type": "string"
          },
          "comparator": {
            "type": "string",
            "enum": [
              ">=",
              ">",
              "="
            ],
            "default": ">="
          },
          "threshold": {
            "type": "integer",
            "minimum": 0
          },
          "badgeLine": {
            "type": "string"
          },
          "tier": {
            "type": "string",
            "enum": [
              "none",
              "bronze",
              "silver",
              "gold",
              "platinum"
            ]
          },
          "pointValue": {
            "type": "integer",
[...]
